; .plakarbackup.ini Default settings file for plakarbackup.sh
; Remember to "chmod 600" it


; Mail settings 
;(MTA to 'true' if a Mail Transfer Agent is configured on the system : exim, postfix etc. 'false' to use swaks to send mail)
MTA=false
MAILSERVER=
MAILPORT=
MAILLOGIN=
MAILPASS=
FROM=
TO=

; FILES TO BACKUP (1 line per file)
;FILE=/tmp/file1
;FILE=/tmp/file2
;FILE=

